@use '@styles/abstract/_mixin.scss' as *;

.mobile-emulator {
  width: 385px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 44px;
  border-bottom-left-radius: 44px;
  background-color: var(--color-primary-dark);
  min-height: 100dvh;

  .shell-header {
    background-color: var(--color-primary-dark);
    @include flex-center();
    border-top-left-radius: var(--border-radius-mobile-corner);
    border-top-right-radius: var(--border-radius-mobile-corner);

    lib-avatar {
      transform: translateX(125%);
    }
  }
}
