:root {
  --color-layer-0: #0f172a;
  --color-layer-01: #1b2637;
  --color-layer-02: #212c3e;

  --color-border-gray: rgba(71, 85, 105, 0.3);

  --color-white: rgb(234, 234, 234);
  --color-white-a80: rgba(234, 234, 234, 0.8);
  --color-white-a60: rgba(234, 234, 234, 0.6);
  --color-white-a20: rgba(234, 234, 234, 0.2);

  --color-black: #1e1e1e;
  --color-black-ui: #333333;
  --color-black-background: #121212;

  --color-gray-warm: #433b3b;

  --color-magenta-900: #850044;
}
