:root {
  /* UI Colors */
  --color-ui-white: var(--color-white);
  --color-ui-white-a60: var(--color-white-a60);
  --color-ui-black: var(--color-black);

  /* Background */
  --color-ui-background-layer-00: var(--color-gray-background);
  --color-ui-background-gray-warm: var(--color-gray-warm);
  --color-ui-background-white: var(--color-ui-white);
  --color-ui-background-black: var(--color-ui-black);
  --color-ui-background-primary-card: var(--color-teal-650);
  --color-ui-background-primary-overlay: var(--color-teal-900);
  --color-ui-background-primary-dark: var(--color-teal-900);
  --color-ui-background-primary-darkest: var(--color-teal-950);
  --color-ui-background-secondary: var(--color-neutral-50);
  --color-ui-background-tertiary: var(--color-neutral-100);
  --color-ui-background-tertiary: var(--color-neutral-100);

  /* Text */
  --color-ui-text-primary: var(--color-ui-black);
  --color-ui-text-gray: theme(colors.gray.text);
  --color-ui-text-secondary: var(--color-neutral-600);
  --color-ui-text-on-primary: var(--color-ui-white);
  --color-ui-text-on-secondary: var(--color-ui-black);

  /* Primary */
  --color-primary-default: var(--color-teal-500);
  --color-primary-hover: var(--color-teal-400);
  --color-primary-active: var(--color-teal-600);
  --color-primary-selected: var(--color-teal-50);

  /* State */
  --color-state-error: theme(colors.red.800);
  --color-state-success: var(--color-teal-600);
  --color-state-warning: var(--color-yellow-500);
  --color-state-disabled: var(--color-neutral-300);

  /* Border */
  --color-border-default: var(--color-neutral-200);
  --color-border-focus: var(--color-teal-300);
  --color-border-divider: var(--color-neutral-100);
  --color-border-subtle: rgba(203, 251, 241, 0.1);
  --color-border-primary-subtle: var(--color-teal-a40);
  /* UI */
  --color-ui-black: var(--color-black);

  /* State */
  --color-state-error: #dc3545;
  --color-state-warning: #ffc107;
  --color-state-success: #28a745;
  --color-state-info: #17a2b8;

  --color-primary: var(--color-teal-500);
  --color-primary-light: var(--color-teal-700);
  --color-primary-dark: var(--color-teal-900);
  --color-primary-light-hover: var(--color-teal-400);
  --color-primary-light-faded: var(--color-teal-200);

  --color-border-primary: var(--color-teal-700);
  --color-secondary-light: theme(colors.yellow.400);
  --color-secondary-middle: theme(colors.yellow.500);
  --color-secondary-dark: theme(colors.yellow.600);
  --color-gray-disabled: hsl(200, 14%, 74%);
  --color-gray-background: #efefef;
  --color-gray-dark-background: #1e1e1e;
  --color-gray-background-faded: hsla(0, 0%, 60%, 0.2);
  --color-gray-helper: hsl(0, 0%, 50%);
  --color-black-text: var(--color-black);
  // --color-black-ui: #333333;
  --color-black-ui-background: #121212;

  /* Gradient definitions */
  --gradient-primary: linear-gradient(142.02deg, #081f2a 32.53%, #117465 120%);

  /* Sizes */
  --size-tag-max-height: 1.25rem;
}
