@use '../../../libs/shared/design-tokens/src/index.scss' as *;
@use './styles/main.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-default {
    @apply transition-all duration-100 ease-in-out;
  }
}

@layer base {
  html {
    font-family: 'Poppins';
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
  }
}
