@forward './styles/main.scss';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-body);
  }
}


/* Example for dark theme (optional) */
[data-theme='dark'] {
  --color-primary-light: #09202b; /* Adjust for dark theme */
  --color-secondary-light: #ff8502; /* Adjust for dark theme */
  --color-gray-background: #121212;
  --color-black-background: #000000;
}

@mixin flex-center() {
  @apply flex justify-center items-center;
}

.flex-center {
  @include flex-center();
}
